<!DOCTYPE html>
  <html>
    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <style>
            img {
                object-fit: cover;
                width: 110px;
                height: 110px;
            }
        </style>
        <!-- NAV REPLACE -->
        <nav th:replace="nav.html"></nav>

        <div class="container">
            <div class="card grey lighten-4">
                <div class="row section">
                    <div class="col s2">
                        <h5 th:if="${cardsAvailable == true}" >
                            Wer ist dran?
                        </h5>
                        <h4 th:if="${cardsAvailable == true}"  th:text="${activePlayer}"></h4>
                        <hr>
                        <h5><span><span th:text="${name_p1}"></span>&nbsp;<span th:text="${p1}"></span></span></h5>
                        <h5><span><span th:text="${name_p2}"></span>&nbsp;<span th:text="${p2}"></span></span></h5>
                        
                    </div>
                    <div th:if="${cardsAvailable == true}" class="col s10">
                        <div th:each="card, i: ${cards}" class="col" style="margin-right: -14px; margin-bottom: 4px;">
                            <!--<span th:text="${card.getPairKey()}"></span>-->
                            <span th:if="${visibleCardCount == 0 || visibleCardCount == 1}"><a th:href="@{/game/uc/(cardid=${card.getdbId()}, gameid=${card.getGameId()})}"><img th:src="${card.getPic()}" class="img"></a></span>
                            <span th:if="${visibleCardCount == 2}"><img th:src="${card.getPic()}" class="img"></span>
                        </div>
                        <div class="progress col s11" style="margin-left: 10px; height: 6px;">
                            <div class="determinate" style="width: 0%"></div>
                        </div>
                    </div>  
                    <div th:if="${cardsAvailable == false}">
                        <div class="center">
                            <h3>Game is over!</h3>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script th:inline="javascript" th:if="${visibleCardCount == 2}">
            $(document).ready(function(){
                $(".determinate").css({"width":"120%","transition":"6s"});
                // Autoreload if two cards visible
                setTimeout(
                    function() 
                    {
                        window.location.href = "/game/load/resc?gameid=[[${gameid}]]";
                    }, 3100);
            })
        </script>
    </body>
  </html>