<!DOCTYPE html>
  <html>
    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <nav>
            <div class="nav-wrapper teal lighten-2">
              <a href="/" class="brand-logo">&nbsp;&nbsp;Memory</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/">Play</a></li>
                <li><a href="#">History</a></li>
                <li><a href="/player">Players</a></li>
              </ul>
            </div>
            
          </nav>
          <div class="container">
            <div class="center">
                <h1>Let's play memory...</h1>
                <div class="divider"></div>
                <p>Choose two players!</p>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>
  </html>